@model PlayerDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Club)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Club)
        </dd>


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrOfCompetitions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrOfCompetitions)
        </dd> 
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arenas)
        </dt>
        <dd class = "col-sm-10">

            @foreach(var arena in Model.Arenas)
            {
                <a asp-controller="Arenas" asp-action="Details" asp-route-id="@arena.Id">@arena.Name</a>
                <br />
            }

        </dd>



    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
